<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div>
    <a id="login" href="<%= authorize_uri %>?client_id=<%= clientID %>&redirect_uri=<%= redirect_uri %>">登录到github</a>
</div>
</body>
</html>